
body {
  background: yellow;
}
.countdownContainer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  background: #bbb;
  border: 1px solid red;
  padding: 10px;

}
.info{
  font-size: 80px;
}
